<div class="modal-header">
  <h4 class="modal-title">Update Customer</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross-click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <form [formGroup]="form">

  </form>

  <form [formGroup]="form" autocomplete="off" novalidate>
    <div class="form-group mb-3">
      <input type="text" class="form-control" formControlName="firstName" placeholder="First Name" required
        [ngClass]="{ 'is-invalid' : firstName.touched && firstName.invalid, 'is-valid': firstName.touched && ! firstName.invalid }">
      <div class="invalid-feedback" *ngIf="(firstName.dirty || firstName.touched) && firstName.invalid">
        <div *ngIf="firstName.errors?.required">
          First Name is required
        </div>
      </div>
    </div>

    <div class="form-group mb-3">
      <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name" required
        [ngClass]="{ 'is-invalid' : lastName.touched && lastName.invalid, 'is-valid': lastName.touched && ! lastName.invalid }">
      <div class="invalid-feedback" *ngIf="(lastName.dirty || lastName.touched) && lastName.invalid">
        <div *ngIf="lastName.errors?.required">
          Last Name is required
        </div>
      </div>
    </div>

    <button #addButton class="btn btn-primary btn-block mb-4" (click)="onSubmit()"
      [disabled]="!form.valid">Update</button>
  </form>

</div>
