<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/customers">Customer</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add Customer</li>
  </ol>
</nav>

<div class="container">
  <div class="card borderless">
    <div class="row">
      <div class="col-12">
        <div class="card-body">
          <h4>Add Customer</h4>
          <hr>

          <form [formGroup]="form" autocomplete="off" novalidate>
            <div class="form-group mb-3">
              <input type="text" class="form-control" formControlName="firstName" placeholder="First Name" required
                [ngClass]="{ 'is-invalid' : firstName.touched && firstName.invalid, 'is-valid': firstName.touched && ! firstName.invalid }">
              <div class="invalid-feedback" *ngIf="(firstName.dirty || firstName.touched) && firstName.invalid">
                <div *ngIf="firstName.errors?.required">
                  First Name is required
                </div>
              </div>
            </div>

            <div class="form-group mb-3">
              <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name" required
                [ngClass]="{ 'is-invalid' : lastName.touched && lastName.invalid, 'is-valid': lastName.touched && ! lastName.invalid }">
              <div class="invalid-feedback" *ngIf="(lastName.dirty || lastName.touched) && lastName.invalid">
                <div *ngIf="lastName.errors?.required">
                  Last Name is required
                </div>
              </div>
            </div>

            <button #addButton class="btn btn-primary btn-block mb-4" (click)="submitForm()"
              [disabled]="!form.valid">Add</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
